body{
    margin: 0%;
    padding: 0%;
    background-color: #f7ebdb;
    width: 100%;
}

.banner{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 17%;
    height: 17%;
    margin: auto;
}

.divlogo{
    display: flex;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
}

.whats{
    width: 35%;
    height: 35%;
    margin-top: 25%;
    cursor: pointer;
    padding-left: 20%;
}

.insta{
    width: 35%;
    height: 35%;
    margin-top: 30%;
    cursor: pointer;
    padding-left: 20%;
}

.sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 90%;
    right: 0;
    bottom: auto;
    margin: 0;
}

.produtos{
    text-align: center;
    font-size: 2.5vw;
    color:  #632614;
    margin-bottom: 3%;
    margin-top: 3%;
}

[type=radio]{
    display: none;
}

#slider{
    height: 25vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label{
    margin: auto;
    width: 45%;
    height: 120%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.imgslider{
    border-radius: 20px;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

.pinus{
    width: 100%;
    background-color: #632614;
    margin-top: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.boxImgPinus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.boxImgPinus2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}

.txtpinus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: #e7c69d;
}

.imgpinus{
    width: 45%;
}

.boxTxt{
    text-align: center;
    font-size: 1.8vw;
    padding: 10%;
    line-height: 150%;
    color:  #632614;
}

.boxImagens{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.boxImg{
    height: 200%;
    width: 32%;
}
