body{
    margin: 0%;
    padding: 0%;
    background-color: #e7c69e;
    width: 100%;
}

.banner{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 17%;
    height: 17%;
    margin: auto;
}

.divlogo{
    display: flex;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
}

.whats{
    width: 35%;
    height: 35%;
    margin-top: 25%;
    cursor: pointer;
    padding-left: 20%;
}

.insta{
    width: 35%;
    height: 35%;
    margin-top: 30%;
    cursor: pointer;
    padding-left: 20%;
}

.sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 90%;
    right: 0;
    bottom: auto;
    margin: 0;
}

.produtos{
    text-align: center;
    font-size: 2.5vw;
    color: #804324;
    margin-bottom: 3%;
    margin-top: 3%;
}

[type=radio]{
    display: none;
}

#slider{
    height: 25vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label{
    margin: auto;
    width: 45%;
    height: 120%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.imgslider{
    border-radius: 20px;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

.pinus{
    width: 100%;
    background-color: #804324;
    margin-top: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.boxImgPinus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.boxImgPinus2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}

.txtpinus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #e7c69e;
    padding: 5%;
}

.imgpinus{
    width: 45%;
}

.boxTxt{
    text-align: center;
    font-size: 1.8vw;
    line-height: 120%;
    color:  #804324;
}

.boxTexto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vw;
}

.boxTexto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 20vw;
}

.boxTxtTitulo{
    text-align: center;
    font-size: 2vw;
    line-height: 150%;
    color:  #804324;
}

.boxImagens{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.boxImg{
    height: 200%;
    width: 32%;
}

.jornada{
    text-align: center;
    font-size: 2.5vw;
    color: #804324;
    margin-bottom: 3%;
    margin-top: 3%;
}

.linhaTemp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.imgLinha{

    width: 50%;
}

.boxLinha{
    display: flex;
    flex-direction: column;
    background-color: #804324;
    height: 14vw;
    max-width: 14%;
    padding: 1%;
    align-items: center;
    border-radius: 5%;
}

.txtLinha{
    text-align: center;
    font-size: 1.5vw;
    color: #e7c69e;
    margin-bottom: 3%;
    margin-top: 3%;
}

.txtBoxLinha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}

.txtAva{
    font-size: 3.5vw;
    color: #e7c69e;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 15%;
}

.boxAva{
    display: flex;
    flex-direction: column;
    max-height: 10vw;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
}

.boxAvaliacao{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/avaliacoes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
}

.estrelas{
    height: 30%;
}

.boxComentarios{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 55vw;
    padding-top: 3%;
}

.comentarios{
    display: flex;
    flex-direction: column;
    background-color: #e7c69e;
    width: 30%;
    height: 85%;
    border-radius: 10%;
}

.txtComen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    height: 20vw;
}

.tituloComen{
    text-align: center;
    font-size: 2vw;
    line-height: 150%;
    color:  #804324;
    margin-top: 15%;
    margin-bottom: 0;
}

.comenAva{
    text-align: center;
    font-size: 1.8vw;
    line-height: 120%;
    color: #804324;
}



.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-sobre-mim {
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 20px;
    color: #804324;
  }
  
  .titulo-sobre-mim {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0%;
  }
  
  .texto-sobre-mim {
    text-align: justify;
    font-size: 20px;
  }
  
  .quadro {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px;
    margin-bottom: -3%;
  }
  
  .foto {
    width: 100%;
    height: auto;
  }
  
  .contato {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#804324;
    color: #E7C69E;
  }
    
  .title {
    text-align: center;
    margin-bottom: -30px;
  }
    
  .informações {
    display: flex;
    align-items: center;
  }
    
  .image {
    margin-right: 5px;
    margin-left: 20px;
  }
  
  .imgFooter {
    width: 50px;
    height: 50px;
    margin-top: 6px;
  }
  
  .text {
    text-align: center;
    font-size: 22px;
  }
    
  .desenvolvedores {
    font-size: 14px;
    text-align: center;
  }
  
  .title-text {
    font-weight: 100;
    font-size: 50px;
  }
    
  a {
    color: #E7C69E;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: overline;
    color: #e7ba9e;
  }